*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs/mkfs
kernel/kernel
user/usys.S
.gdbinit
*.zip
xv6.out*
.vagrant/
submissions/
ph
barrier
/lab-*.json
.DS_Store
*.dSYM
*.pcap
TAGS
*.o
*.d
*.asm
*.sym
*.save
*.swp
kernel/kernel
fs.img
fs.img.bk
mkfs/mkfs
user/_*
user/usys.S
.gdbinit
qemu.log
